.app.window-app.downwego.sheet.actor.character .window-content {
  background-image: none;
  background-color: white;
  // color: black;
  font-family: "Alegreya";
  font-size: 16px;
  padding: 20px;

  img {
    border: none;    
  }

  .label {
    font-family: "Ramundus";
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
  }

  .desc {
    font-style: italic;
  }

  .sheet-header {
    display: flex;   
    margin-bottom: 10px; 
    width: 100%;
    .portrait {
      border: 1px solid black;
      height: 210px;
      width: 210px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .right-of-portrait {
      flex: 1;
      margin-left: 10px;
      .title-text {
        align-items: center;
        display: flex;
        font-family: "Ramundus";
        font-size: 70px;  
        justify-content: center;
        img.skull {
          height: 50px;
          margin-left: 20px;
          margin-right: 20px;
          &:last-child {
            transform: scaleX(-1);
          }
        } 
      }
      .my-name-is {
        align-items: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        display: flex;
        // margin-bottom: 10px;
        // margin-top: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 100%;
    
        input { 
          flex: 1;
          font-weight: 800;
          font-size: 30px;
          padding: 4px;
          height: 40px;
          text-align: center;
        }
      }  
      
      .hits-row {
        display: flex;
        .hits {
          align-items: center;
          display: flex;
          flex: 1;
          input[type="radio"] {
            /* The native appearance is hidden */
            appearance: none;
            -webkit-appearance: none;
            border-radius: 50%;
            /* The background will be the radio dot's color. */
            background: blue;
            /* The border will be the spacing between the dot and the outer circle */
            border: 8px solid white;
            /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
            box-shadow: 0 0 0 3px black;
            margin-right: 5px;
            &:checked {
              appearance: none;
              border-radius: 50%;
              background: blue;
              border: 8px solid black;
              box-shadow: 0 0 0 3px black;
            }
            &:disabled {
              appearance: none;
              border-radius: 50%;
              background: transparent;
              border: 8px solid #99999955;
              box-shadow: 0 0 0 3px #99999955;
            }  
          }
        }
        .modifiers {
          flex: 0 0 130px;
          .modifier-row {
            align-items: center;
            display: flex;
          }
          .label {
            line-height: 30px;
            width: 100px;
          }
          .modifier-value {
            font-size: 30px;
            text-align: center;
            width: 50px;
          }  
        }
      }      
    }
  }

  .sheet-tabs.tabs {
    border: none;
    // justify-content: center;
    // border-bottom: 3px solid black;
    background: linear-gradient(
      to bottom,
      white 49px,
      // orange 20% 40%,
      // yellow 40% 60%,
      // green 60% 80%,
      black 49px 52px
    );
    .tab-label {
      font-family: "Ramundus";
      font-size: 30px; 
    }
    .item {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding-left: 20px;
      padding-right: 20px;
      &.active {
        // background-color: black;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-top: 3px solid black;
        border-bottom: 3px solid white;
        // color: white;
        text-shadow: none;
      }
    }
  }

  .tab {
    padding-top: 10px;
  }
  .role-tab {
    .desc:nth-child(1) {
      text-align: center;
      width: 100%;
    }
    .roles {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .role {
      padding-bottom: 10px;
      .role-name {
        font-size: 30px;
        font-weight: 800;
        .role-level {
          font-style: italic;
          font-size: 15px;
          font-weight: normal;
        }
      }
      .role-desc {
        font-style: italic;
      }
  
      .abilities {
        .abilities-title {
          font-weight: bold;
        }
        .ability {
          display: flex;
          input[type="checkbox"] {
            //display: none;
            appearance: none;
            border: 1px solid black;
            // height: 10px;
            // width: 10px;
            display: grid;
            place-content: center;
          }
          input[type="checkbox"]::before {
            content: "";
            width: 0.8em;
            height: 0.8em;
            transform: scale(0);
            transition: 100ms transform ease-in-out;
            box-shadow: inset 1em 1em blue;
          } 
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
  
          .ability-name {
            font-weight: bold;
            margin-right: 5px;
          }
          .ability-desc {
            font-style: italic;
          }
        }        
      }
    }
  }

  .gear-tab {
    .desc {
      text-align: center;
      width: 100%;
    }
    .gear-list {
      ol {
        li {
          margin-bottom: 10px;
          input[type="text"] {
            text-align: center;
          }    
        }
      }
    }
  }

  .rules-tab {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    .rules-grid {
      display: grid;
      grid-template-columns: 100px 1fr;
      row-gap: 10px;
      margin-top: 20px;
    }
    .rule-label {
      font-weight: 800;
      padding-right: 20px;
      text-align: right;
    }
    .rule-text {
      font-style: italic;
      b {
        // font-style: normal;
        font-weight: bold;
      }
    }
  }
}