<div class="tab gear-tab" data-group="primary" data-tab="gear">
  <div class="gear-list">
    <ol>
      <li>
        <input type="text" name="system.gear.item-0" value="{{data.system.gear.item-0}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-1" value="{{data.system.gear.item-1}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-2" value="{{data.system.gear.item-2}}" />        
      </li>
      <li>
        <input type="text" name="system.gear.item-3" value="{{data.system.gear.item-3}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-4" value="{{data.system.gear.item-4}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-5" value="{{data.system.gear.item-5}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-6" value="{{data.system.gear.item-6}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-7" value="{{data.system.gear.item-7}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-8" value="{{data.system.gear.item-8}}" />
      </li>
      <li>
        <input type="text" name="system.gear.item-9" value="{{data.system.gear.item-9}}" />
      </li>
    </ol>

  </div>
</div>