<div class="tab rules-tab" data-group="primary" data-tab="rules">
  <div class="rules-grid">
    <div class="rule-label">ROLLS</div>    
    <div class="rule-text">
      <b>Save</b> (D20 + LVL at or over 15). <b>Attack</b> (D20 + Bloodthirsty at or over enemy’s Dif). <b>Defense</b> (D20 + Sneaky at or over enemy’s Difficulty). <b>Luck</b> X-in-6: Ref sets odds depending on the situation. <b>Players make all rolls.</b>
    </div>    
    <div class="rule-label">COMBAT</div>    
    <div class="rule-text">
      <b>Initiative</b> 1d6. 4–6: you go first. On your turn, move and take one action. <b>A successful attack</b> usually inflicts 1 Hit regardless of weapon. When you fill your last <b>Hit circle,</b> you die. Lt., Med., or Hvy. <b>Armor</b> lets you reroll a defense roll 1, 2, or 3 times.</div>    
    <div class="rule-label">LEVELING</div>    
    <div class="rule-text">
      After completing dungeons equal to your character’s highest LVL, travel back to the city to <b>increase a LVL</b> in any Role and get another ability in that Role. Every <b>third</b> ability in any Role, get another Hit circle.
    </div>    
    <div class="rule-label">OPTIONAL</div>    
    <div class="rule-text">
      If your dice ends up on the floor, your character dies in a gruesome and embarrassing way.      
    </div>    
  </div>
</div>